<apex:page standardController="Account">
    <apex:includeScript value="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&libraries=geometry"/>
    <apex:includeScript value="/soap/ajax/26.0/connection.js"/>
    
    <div id="updateMessage" style="display:none; position: absolute; z-index: 999; margin-left: 50px;">
        <apex:pageMessage severity="confirm" strength="1" title="Account Latitude and Longitude Updated"/>
    </div>
    <style>
        .message { height: 15px; }
    </style>
    <div id="map" style="width:100%;height:300px;">
        <script type="text/javascript">
        var address = '{!JSENCODE(Account.BillingStreet)} {!JSENCODE(Account.BIllingCity)} {!JSENCODE(Account.BillingState)} {!JSENCODE(Account.BillingPostalCode)}';
        address = address.replace(/\n/g,',').replace(/\s/g,' ').replace(/  ,/g,',');  
        var latlng = new google.maps.LatLng(0, 0);
        var mapOptions = {
            scrollwheel: false,
            zoom: 12,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions );

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address':address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                
                if("{!Account.Location__Latitude__s}" == "" || "{!Account.Location__Longitude__s}" == "") { 
                    var a = new sforce.SObject("Account"); 
                    a.Id = "{!Account.Id}"; 
                    a.Location__Latitude__s=results[0].geometry.location.lat(); 
                    a.Location__Longitude__s=results[0].geometry.location.lng(); 
                    sforce.connection.update([a]);
                    document.getElementById('updateMessage').style.display = 'block';                    
                }
            } else {
            
            }
        });
        
        </script>        
    </div>
    
</apex:page>