<apex:page controller="ClaimControllerFileBrowse" showHeader="false" sidebar="false" language="{!IF(ISNULL($CurrentPage.parameters.locale),'en',$CurrentPage.parameters.locale)}">
<apex:includeScript value="{!URLFOR($Resource.ClaimResource,'/ClaimResource/bootstrap/js/bootstrap-jquery.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.ClaimResource,'/ClaimResource/bootstrap/js/bootstrap.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ClaimResource,'/ClaimResource/bootstrap/css/bootstrap.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ClaimResource,'/ClaimResource/bootstrap/css/bootstrap-theme.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.ClaimResource,'/ClaimResource/common/css/ClaimHeader.css')}"/>
<div>
    <div class="row mainDiv" >
        <div class="col-md-2 col-sm-4">
            <!--<apex:image value="https://c.cs20.content.force.com/servlet/servlet.ImageServer/servlet/servlet.ImageServer?id=015m00000010hEn&oid=00Dm00000004gir" width="128" height="72" style="padding-top:6px;"/>-->
        </div>
        <div class="col-md-9 col-sm-7 brand-title">
            <apex:outputText value="{!SUBSTITUTE($Label.Claim_Kia_Header, '[clientName]', 'JLR')}" />
           
        </div>
        <div class="col-md-1 col-sm-1">
            <apex:form >
                <apex:actionFunction action="{!ChangeToEngLanguage}" name="changeToEngLang"/>
                <apex:actionFunction action="{!ChangeToFrLanguage}" name="changeToFrLang"/>
                <a onclick="changeEngLang()">
                   <apex:image url="{!URLFOR($Resource.ClaimResource,'/ClaimResource/common/images/english_flag.jpg')}" width="30" height="20" style="cursor:pointer"/>                            
                </a>
                <a onclick="changeFrLang()">
                    <apex:image url="{!URLFOR($Resource.ClaimResource,'/ClaimResource/common/images/french_flag.png')}" width="30" height="20" style="cursor:pointer"/>              
                </a>  
            </apex:form>
        </div>
    </div>
</div>
<br></br>
<script>
    function changeEngLang(){
        changeToEngLang();
    }
    function changeFrLang(){
        changeToFrLang();
    }
</script>
<c:ClaimComponent clientName="jlr"/>
 
</apex:page>