<apex:page >
  <html>
  <body>
    <p class="h4 text-underline well well-sm">
    FAQ
    </p>
    <div class="panel-group" >
        <div class="panel panel-default ">
            <div class="panel-heading">
                <p class="h4 panel-title">
                    <a href="#" class="ing">Q1. What information do I need to provide to be reimbursed?</a>
                </p>
            </div>
            <div class="panel-body">
                <p class="h5"><span class="label label-primary">Answer</span></p>
                <p>1.  Full Name</p>
                <p>2.  Mailing Address</p>
                <p>3.  Vin Number</p>
                <p>4.  Receipts of Service</p>
                <p>5.  Description of what happened to vehicle</p>
                <p>6.  Repair Order from Dealership</p>
            </div>
        </div>
    </div>
    <div class="panel-group" >
        <div class="panel panel-default ">
            <div class="panel-heading">
                <p class="h4 panel-title">
                    <a href="#" class="ing">Q2. How long does it take to be reimbursed?  </a>
                </p>
            </div>
            <div class="panel-body">
                <p class="h5"><span class="label label-primary">Answer</span></p>
                <p>The claims process takes about two weeks from when the claim is submitted.  </p>
            </div>
        </div>
    </div>
    <div class="panel-group" >
        <div class="panel panel-default ">
            <div class="panel-heading">
                <p class="h4 panel-title">
                    <a href="#" class="ing">Q3. How much can I be reimbursed for?</a>
                </p>
            </div>
            <div class="panel-body">
                <p class="h5"><span class="label label-primary">Answer</span></p>
                <p>It depends on the type of claim you are filing (Trip Interruption, Own Service, Exclusive zone). It is difficult to say without reviewing the case. Please submit claim, and once we process the claim we will be able to verify how much we can reimburse by determining what type of claim it is.  </p>
            </div>
        </div>
    </div>
    <div class="panel-group" >
        <div class="panel panel-default ">
            <div class="panel-heading">
                <p class="h4 panel-title">
                    <a href="#" class="ing">Q4. Am I still covered under Roadside Assistance?</a>
                </p>
            </div>
            <div class="panel-body">
                <p class="h5"><span class="label label-primary">Answer</span></p>
                <p>It depends on the model year of your vehicle, and if you had purchased the extended package. All Land Rover and Jaguar vehicles come with 5 years of base warranty coverage beginning on the in service date. Extended Roadside coverage adds onto the 5 years of base roadside assistance. </p>
            </div>
        </div>
    </div>
    <div class="panel-group" >
        <div class="panel panel-default ">
            <div class="panel-heading">
                <p class="h4 panel-title">
                    <a href="#" class="ing">Q5: How can I reach Land Rover or Jaguar customer Service?</a>
                </p>
            </div>
            <div class="panel-body">
                <p class="h5"><span class="label label-primary">Answer</span></p>
                <p>Land Rover: 1-800-346-3493</p>
                <p>Jaguar: 1-800-668-6257</p>
            </div>
        </div>
    </div>
    <div class="panel-group" >
        <div class="panel panel-default ">
            <div class="panel-heading">
                <p class="h4 panel-title">
                    <a href="#" class="ing">Q6: How do I submit a claim?</a>
                </p>
            </div>
            <div class="panel-body">
                <p class="h5"><span class="label label-primary">Answer</span></p>
                <p>You can submit a claim by mail, email or by submitting it through our online claims web portal. It is recommended that you submit through the online web portal as it is user friendly and you can see updates on the status of your claim by visiting the web portal from your own device. </p>
            </div>
        </div>
    </div>
  </body>
  </html>
</apex:page>